ExamFinal.ipynb
ExamMidterm_graded.ipynb
Exercise01.ipynb
Exercise02_PythonConcepts.ipynb
Exercise02_graded.ipynb
Exercise03_Lists.ipynb
Exercise03_copy_graded.ipynb
Exercise04b_Dictionaries.ipynb
Exercise04b_copy_graded.ipynb
Exercise04c_TuplesSets.ipynb
Exercise04c_copy_graded.ipynb
Exercise04d_Files.ipynb
Exercise04d_copy_graded.ipynb
Exercise04optional_ObjectTypes.ipynb
Exercise05a_Statements.ipynb
Exercise05a_copy_graded.ipynb
Exercise05b_Functions.ipynb
Exercise05b_copy_graded.ipynb
Exercise05c_Modules.ipynb
Exercise05c_copy_graded.ipynb
Exercise05d_OOPI.ipynb
Exercise05e_OOPII.ipynb
Exercise05e_copy_graded.ipynb
Exercise05optional_Statements.ipynb
Exercise05optional_copy_graded.ipynb
Exercise06ab_NumPyMPL.ipynb
Exercise06ab_copy_graded.ipynb
Exercise06d_NetCDF4.ipynb
Exercise06d_copy_graded.ipynb
Exercise06e_copy_graded.ipynb
Exercise06e_pydap.ipynb
Exercise07a.ipynb
Exercise07b_PointsInARegion.ipynb
Exercise07b_copy_graded.ipynb
Exercise08b_SVD.ipynb
Exercise08b_copy_graded.ipynb
Exercise08c_copy_graded.ipynb
Exercise08c_kmeans.ipynb
FinalProjectReport_Adams.pdf
PopPredict_fadams.pdf
PopPredict_fadams.py
README.md
boundary_CA.csv
boundary_NC.csv
boundary_UT.csv
capitals.txt
capitalsSorted.txt
geometry.py
geosphere.py
hello.txt
kumpula_temps.csv
rovaniemi_temps.csv
subset_GRACEDADM.txt
tos_O1_2001-2002.nc
